.contacts-wrapper {
    float: left;
    margin-top: 120px;
    width: 100%;
    padding: 0 25%;
    display: flex;
    flex-wrap: wrap;
}
.contacts-email {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 230px;
    margin: 10px;
    background-color: aliceblue;
}
.contacts-fb {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 230px;
    margin: 10px;
    background-color: aliceblue;
}
.contacts-instagram {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 230px;
    margin: 10px;
    background-color: aliceblue;
}
.contacts-tel {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 230px;
    margin: 10px;   
    background-color: aliceblue;
}
.contacts-email img {
    cursor: pointer;
    margin-top: 12%;
}

.contacts-fb img {
    cursor: pointer;
    margin-top: 12%;
}
.contacts-instagram img {
    margin-top: 12%;
    cursor: pointer;
}
.contacts-tel img {
    margin-top: 12%;
    cursor: pointer;
}

.contacts-email p {
    cursor: pointer;
    font-size: 14px;

}

.contacts-fb p {
    font-size: 14px;
    cursor: pointer;
}
.contacts-instagram p {
    font-size: 14px;

    cursor: pointer;
}
.contacts-tel p {
    font-size: 14px;
    cursor: pointer;
}

